h1 {
	color: red;
}

.background {
    background-color: #FFCA2C;
    animation: fade-in 5s ease-in-out;
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    z-index: -1;
}

.py-4 {
    padding-top: 0rem!important;
    padding-bottom: 1.5rem!important;
}


@keyframes fade-in {
    0% {
        background-color: #fcfcfc;
    }
    100% {
        background-color: #FFCA2C;

        ;
    }
}

.card {
	border-radius: 20px;
}

.btn-link {
	color: #1d1d1d;
	display: flex;
    justify-content: flex-end;
	text-decoration: none;
}

.btn-link:hover {
	color: #e47f0b;
	text-decoration: underline;
}